<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="HandlerFileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/handler.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="NetFileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/net.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AsyncNetFileAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
      <appender-ref ref="NetFileAppender" />
    </appender>
    <appender name="AsyncHandlerFileAppender" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
      <appender-ref ref="HandlerFileAppender" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="AtemEmulator.Net">
      <level value="INFO" />
      <appender-ref ref="AsyncNetFileAppender" />
    </logger>
    <logger name="LibAtem.Net">
      <level value="INFO" />
      <appender-ref ref="AsyncNetFileAppender" />
    </logger>
    <logger name="AtemEmulator.Handler">
      <level value="DEBUG" />
      <appender-ref ref="AsyncHandlerFileAppender" />
    </logger>
  </log4net>
</configuration>